* {
  margin:0px;
  padding:0px;
}

body{
background-color:#b3ffec;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

#btn{
  display: block;
  margin: 50px auto;
  background-color: #ff9d4d;
}
